<div class="currancy-card">
 <h2>Peso Argentino</h2>
 <img *ngIf="isLoading; else currancyContent" src="../../../assets/images/loader.svg" alt="loader">
 <ng-template #currancyContent>
  <div *ngIf="argentPeso.value !== 0; else apiError" class="currancyContent"
  >
  <h1 [ngClass]="{
   'high_variation': argentPeso.value > 5,
   'medium_variation': argentPeso.value > 1 && argentPeso.value <= 5,
   'low_variation': argentPeso.value <= 1
   }"
    >
  R$ {{ argentPeso.value | number:'1.2-2' }}</h1>
  <div class="currancy-details-container">
   <div class="currancy-detail left">
     <h3>variação (%)</h3>
     <p>{{ argentPeso.variation | number:'1.2-2' }}</p>
   </div>
   <div class="currancy-detail">
     <h3>Atualizado</h3>
     <p>{{ argentPeso.date | date:'HH:mm:ss' }}</p>
   </div>
 </div>
</div>
<ng-template #apiError>
  <div class="currancyContent">
    <p>Algo deu errado</p>
    <button (click)="getCurrancy()">
      RECARREGAR
    </button>
  </div>
</ng-template>
 </ng-template>
</div>
