<section class="main-container">
  <div class="currancy-card">
    <h1>Nome da moeda</h1>
    <h2>Valor da moeda</h2>
    <div class="currancy-details">
      <div>
        <p>variação</p>
        <p>valor da variação</p>
      </div>
      <div>
        <p>atualização</p>
        <p>hora da atualização</p>
      </div>
    </div>
  </div>
  <div class="currancy-card">
    <h1>Nome da moeda</h1>
    <h2>Valor da moeda</h2>
    <div class="currancy-details">
      <div>
        <p>variação</p>
        <p>valor da variação</p>
      </div>
      <div>
        <p>atualização</p>
        <p>hora da atualização</p>
      </div>
    </div>
  </div>
  <div class="currancy-card">
    <h1>Nome da moeda</h1>
    <h2>Valor da moeda</h2>
    <div class="currancy-details">
      <div>
        <p>variação</p>
        <p>valor da variação</p>
      </div>
      <div>
        <p>atualização</p>
        <p>hora da atualização</p>
      </div>
    </div>
  </div>
</section>
